{% extends 'layout.html' %}

{% block content %}
    <h1>
        {% if 'create' in request.get_full_path %}
            Создать проект
        {% elif 'update' in request.get_full_path %}  
            Изменить проект
        {% endif %}
    </h1>
    <form method="post" class="form">
        {% csrf_token %}

        <div class="form-row">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <hr>

        <div class="form-row">
            {{ form.members.label_tag }}
            {{ form.members }}
        </div>
        <hr>

        <button type="submit" class="btn btn-success">Подтвердить</button>
    </form>
{% endblock %}